<div id="<%= dom_id template %>">
  <p>
    <strong>Name:</strong>
    <%= template.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= template.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= template.user.email %>
  </p>

</div>
