<div id="<%= dom_id template %>">
  <p>
    <strong>Nome:</strong>
    <%= template.nome %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= template.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= template.user_id %>
  </p>

</div>
